@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Niramit:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Niramit", sans-serif;
}

body {
  font-size: 16px;
  color: var(--textBold);
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #f4f4f4;
}
